.form-field {
    width: 200px;
    //background-color: turquoise;
  }
  
  .header {
    display: flex;
    margin-left: 16px;
    margin-top: 16px;
  
    #subscribe-button{
        margin-top: 10px;
        margin-left: 10px;
    }


    .chips-list{
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  